@import "tailwindcss";

:root {
  --neutral-950: #0e121b;
  --neutral-900: #191b25;
  --neutral-800: #232530;
  --neutral-700: #2b303b;
  --neutral-600: #525866;
  --neutral-500: #717784;
  --neutral-400: #99a0ae;
  --neutral-300: #cacfd8;
  --neutral-200: #e0e4ea;
  --neutral-100: #f3f5f8;
  --neutral-50: #f5f7fa;
  --blue-dark: #1e3db8;
  --blue-light: #2954e6;
  --blue-soft: #e1e9ff;
  --green-light: #21c16b;
  --green-soft: #d1fbe9;
  --red-light: #fb3748;
  --red-soft: #ffd5d8;

  /*============================*/
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-neutral-950: var(--neutral-950);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-50: var(--neutral-50);
  --color-blue-dark: var(--blue-dark);
  --color-blue-light: var(--blue-light);
  --color-blue-soft: var(--blue-soft);
  --color-green-light: var(--green-light);
  --color-green-soft: var(--green-soft);
  --color-red-light: var(--red-light);
  --color-red-soft: var(--red-soft);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  box-shadow: 0px 0.8243573314583045px 0.8243573314583045px -0.625px rgba(230, 239, 255, 0.74),
    0px 2.107655556210375px 2.107655556210375px -1.25px rgba(230, 239, 255, 0.72),
    0px 4.225385750432906px 4.225385750432906px -1.875px rgba(230, 239, 255, 0.69),
    0px 8.0098665613521px 8.0098665613521px -2.5px rgba(230, 239, 255, 0.64),
    0px 15.921221646778575px 15.921221646778575px -3.125px rgba(230, 239, 255, 0.52),
    0px 35px 35px -3.75px rgba(230, 239, 255, 0.25),
    0px -0.8243573314583045px 0.8243573314583045px -0.625px
      rgba(230, 239, 255, 0.74),
    0px -2.107655556210375px 2.107655556210375px -1.25px
      rgba(230, 239, 255, 0.72),
    0px -4.225385750432906px 4.225385750432906px -1.875px
      rgba(230, 239, 255, 0.69),
    0px -8.0098665613521px 8.0098665613521px -2.5px rgba(230, 239, 255, 0.64),
    0px -15.921221646778575px 15.921221646778575px -3.125px
      rgba(230, 239, 255, 0.52),
    0px -35px 35px -3.75px rgba(230, 239, 255, 0.25),
    0.7409732186279143px 0px 0.7409732186279143px -0.75px rgba(230, 239, 255, 0.74),
    2.0178668455264415px 0px 2.0178668455264415px -1.5px rgba(230, 239, 255, 0.71),
    4.430505261661892px 0px 4.430505261661892px -2.25px rgba(230, 239, 255, 0.66),
    9.834710084098335px 0px 9.834710084098335px -3px rgba(230, 239, 255, 0.55),
    25px 0px 25px -3.75px rgba(230, 239, 255, 0.25),
    -0.7409732186279143px 0px 0.7409732186279143px -0.75px
      rgba(230, 239, 255, 0.74),
    -2.0178668455264415px 0px 2.0178668455264415px -1.5px
      rgba(230, 239, 255, 0.71),
    -4.430505261661892px 0px 4.430505261661892px -2.25px
      rgba(230, 239, 255, 0.66),
    -9.834710084098335px 0px 9.834710084098335px -3px rgba(230, 239, 255, 0.55),
    -25px 0px 25px -3.75px rgba(230, 239, 255, 0.25);
}
